<div class="list">
    <% for (const entry of entries) { %>
        <%
            const commit = entry.commit;
            const branch = commit.branch;
            const repo = branch.repo;
        %>
        <div class="dropdown">
            <div class="summary">
                <code><%= entry.group.summary %></code>
                <div>
                    <time><%= +entry.createdAt %></time>
                </div>
            </div>

            <div class="details">
                <p>
                    <code>
                        <a href="/repo/<%= repo.id %>"><%= repo.owner %>/<%= repo.repo %></a>
                        -> <a href="/branch/<%= branch.id %>"><%= branch.name %></a>
                        -> <a href="/commit/<%= commit.id %>"><%= commit.hash %></a>
                    </code>
                </p>

                <p>
                    <code>
                        In <a href="/group/<%= entry.group.id %>">group <%= entry.group.id %></a>
                    </code>
                </p>

                <p>
                    <code>Zig <%= entry.zigVersion %></code> <br>
                    <code>ZLS <%= entry.zlsVersion %></code>
                </p>
                
                <p class="link-list">
                    <span>
                        Complete Archive
                        (<a href="/entry/<%= entry.id %>.tar.gz">.tar.gz</a>)
                        (<a href="/entry/<%= entry.id %>.zip">.zip</a>)
                    </span>
                    <a href="/entry/<%= entry.id %>/stderr.log">Error</a>
                    <a href="/entry/<%= entry.id %>/stdin.log">Input</a>
                    <a href="/entry/<%= entry.id %>/stdout.log">Output</a>
                    <a href="/entry/<%= entry.id %>/principal.zig">Principal</a>
                </p>

                <% if (session.isZigtoolsMember) { %>
                    <p>
                        <button onclick="(async () => {await fetch(`/entry/<%= +entry.lastModified %>/delete?csrf=<%= session.csrf %>`, {method: `POST`}); this.closest(`.dropdown`).remove();})()" class="danger">Delete</button>
                    </p>
                <% } %>
            </div>
        </div>
    <% } %>
</div>
