<%- include("partials/header.ejs") %>

<main>
    <h1><a href="/repo/<%= repo.username %>/<%= repo.repoName %>"><%= repo.username %> / <%= repo.repoName %></a> / <%= branch.name %></h1>

    <div class="list">
        <% for (const commit of sortLastModified(branch.commits.values())) { %>
            <a href="/repo/<%= repo.username %>/<%= repo.repoName %>/<%= branch.name %>/commit/<%= commit.sha %>">
                <div class="summary">
                    <h2><%= commit.sha %></h2>
                    <div>
                        <span><%= commit.entries.length %> &bull; <time><%= +commit.lastModified %></time></span>
                    </div>
                </div>
            </a>
        <% } %>
    </div>
</main>

<%- include("partials/footer.ejs") %>
