<%- include("partials/header.ejs") %>

<main>
    <h1><a href="/repo/<%= repo.username %>/<%= repo.repoName %>"><%= repo.username %> / <%= repo.repoName %></a> / <a href="/repo/<%= repo.username %>/<%= repo.repoName %>/<%= branch.name %>"><%= branch.name %></a></h1>
    <h2><%= commit.sha %></h2>

    <%- include("partials/entries.ejs", {entries: commit.entries}) %>
</main>

<%- include("partials/footer.ejs") %>
