<%- include("partials/header.ejs") %>

<main>
    <h1>Repositories</h1>

    <div class="list">
        <% for (const repo of sortLastModified(repos.values())) { %>
            <a href="/repo/<%= repo.username %>/<%= repo.repoName %>">
                <div class="summary">
                    <h2><%= repo.username %> / <%= repo.repoName %></h2>
                    <div>
                        <span><%= repo.branches.size %> branches &bull; <time><%= +repo.lastModified %></time></span>
                    </div>
                </div>
            </a>
        <% } %>
    </div>

    <h1>Failure Groups</h1>

    <p>
        Failures are grouped based on the error location and content.
        These may not be entirely accurate and may occasionally shift when code is modified,
        but they are very useful for finding common issues and determining like causality.
    </p>

    <div class="list">
        <% for (const group of [...groups].sort((a, b) => b[1].lastModified - a[1].lastModified)) { %>
            <a href="/group/<%= group[0] %>">
                <div class="summary">
                    <code><%= group[1].summary %></code>
                    <div>
                        <span><%= group[1].entries.length %> &bull; <time><%= +group[1].lastModified %></time></span>
                    </div>
                </div>
            </a>
        <% } %>
    </div>
</main>

<%- include("partials/footer.ejs") %>
